@use "../parciales/branding" as *;

.encabezado {
  max-width: $ancho-80;

  .navbar-toggler {
    color: white;
  }

  .navbar-toggler:hover {
    color: $verde-medio;
  }

  .btn-success {
    background-color: $verde-medio;
  }

  .btn-success:hover {
    background-color: $gris-medio;
  }
}

@media (max-width: 768px) {
  .logo-prefacon {
    width: 150px;
  }
}