@import "branding";

.container-fluid {
  max-width: $ancho-80;

  .logo-prefacon {
    width: 200px;
  }
  .navbar-toggler {
    color: white;
  }

  .navbar-toggler:hover {
    color: $verde-medio;
  }

  .btn-success {
    background-color: $verde-medio;
  }

  .btn-success:hover {
    background-color: $gris-medio;
  }
}
