@import "branding";

.productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: $ancho-80;
  margin: auto;

  .prefabricados {
    width: 100%;
    height: 200px;
    border: 3px solid $verde-medio;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      color: white;
      text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
        -1px -1px 0 black;
    }
  }
  .prefabricados:hover {
    box-shadow: 10px 10px 20px gray;
    cursor: pointer;
    transform: scale(1.05);
  }
  .pv {
    background-image: url(../../recursos/1_pre_viv/3-lav-ceramica.jpg);
  }
  .pu {
    background-image: url(../../recursos/2_pre_urb/jardineras_nuevas/100.jpg);
  }
  .pa {
    background-image: url(../../recursos/3_pre_art/2-bal-30.jpg);
  }
}

@media (min-width: 900px) {
  .productos {
    flex-direction: row;
    width: 90%;
    height: 400px;
    align-items: stretch;

    .prefabricados {
      height: auto;
      margin: 15px;
    }
    .pv {
      background-image: url(../../recursos/1_pre_viv/35-freg-granotrany.jpg);
    }
    .pu {
      background-image: url(../../recursos/2_pre_urb/jardineras_nuevas/151.jpg);
    }
    .pa {
      background-image: url(../../recursos/3_pre_art/71-cap-gotico.jpg);
    }
  }
}
