@use "branding";

#categorias .pv,
#categorias .pa,
#categorias .pu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}
.pv h3,
.pa h3,
.pu h3 {
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  height: auto;
  border-radius: 10px;
  font-weight: normal;
  color: white;
  padding: 20px;
}
.pv h3 {
  background-color: red;
}
.pa h3 {
  background-color: blue;
}
.pu h3 {
  background-color: #f1cf00;
}
#categorias a {
  margin: 15px;
  position: relative;
}
#categorias img {
  width: 100%;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  opacity: 0.5;
}
a span {
  position: absolute;
  text-align: center;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
}

#categorias img:hover {
  box-shadow: 10px 10px 20px gray;
  cursor: pointer;
  opacity: 1;
}

a:hover span {
  opacity: 0;
}

#categorias img:active {
  transform: scale(1.05);
}

@media (min-width: 660px) {
  .pv h3,
  .pa h3,
  .pu h3 {
    width: 100%;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 990px) {
  #categorias {
    width: 100%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
  }
  .pv h3,
  .pa h3,
  .pu h3 {
    width: 100%;
    max-width: 990px;
  }
}
